.patientForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* .fullWidth {
  grid-column: span 2; 
}

.shortWidth {
  grid-column: span 1; 
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
} 
*/
.formGroupFullWidth {
  grid-column: span 2; /* Span both columns */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formGroupShortWidth {
  grid-column: span 1; /* Span one column */
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input,
.textarea,
.select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputError,
.textareaError,
.selectError {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.buttonContainer button {
  width: 45%;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.buttonContainer button:hover {
  background-color: #0056b3;
}

.buttonContainer button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formField label {
  margin-bottom: 0.5rem;
}

.formField input,
.formField select,
.formField textarea {
  padding: 0.5rem;
  font-size: 1rem;
}

.formField input.error,
.formField select.error,
.formField textarea.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25rem;
}