/* src/App.css */
.App {
  text-align: center;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.content {
  display: flex;
  flex: 1;
}

.patient-list {
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.patient-list ul {
  list-style-type: none;
  padding: 0;
}

.patient-list li {
  padding: 10px;
  cursor: pointer;
}

.patient-list li.selected {
  background-color: #d3d3d3; /* Light gray background for selected patient */
}

/* Below is based on https://codepen.io/msdiniz-the-sasster/pen/eYLGoaO */
.patient-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.patient-details .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.patient-details label {
  width: 150px; /* Adjust the width as needed */
  margin-right: 10px;
}

.patient-details input,
.patient-details textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.patient-details button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.patient-details button:hover {
  background-color: #0056b3;
}